// .contacts-nav {
//   display: flex;
//   align-items: center;
// }

// .contacts-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .contacts-nav__link {
//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--primary-text-color);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// /* Иконки в контактах */
// .contacts-nav__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
