// .footer-right {
//   padding-top: 72px;
// }

// .footer-right__title {
//   margin-bottom: 20px;

//   color: #ffffff;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
// }

// .social-list__link--footer {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// .social-list__icon--footer {
//   fill: #ffffff;
// }
