.form-field {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
  }
}

.form-field__title {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.form-field__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    display: block;
    margin-bottom: 0;
  }
}

.btn--form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--accent-color);
  color: #ffffff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 12px;
  }
}

.btn__icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
