.page-header {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.header-container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.menu-toggle {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    background-color: #ffffff;
    padding: 10px 15px;
    text-align: right;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--is-open {
    transform: translateX(0);
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

    text-align: center;
  }
}

.menu-social-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;

  @media screen and (max-width: 767px) {
    margin-top: auto;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social-item {
  padding: 5px 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);

  &:first-child {
    border-left: 0;
  }
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
