.page-header {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}
