.card-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.card-set__item {
  border: var(--card-border);

  @media screen and (min-width: 768px) {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.product {
  position: relative;

  background-color: #ffffff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__text {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .product__link:hover &,
  .product__link:focus & {
    transform: translateY(0);
  }
}

.product__meta {
  display: block;
  padding: 20px 24px;
}

.product__name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__filter {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
