.service-list {
  @extend %visually-hidden;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.service-list__item {
  @extend %visually-hidden;

  @media screen and (min-width: 1200px) {
    position: relative;

    display: flex;
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

.service-list__title {
  @extend %visually-hidden;

  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;

    padding-top: 27px;
    padding-bottom: 27px;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
