.team-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.team-list__item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  box-shadow: var(--card-shadow);
}

.team-list__wrap {
  padding: 30px 0;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team__member {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
}
